<h2 mat-dialog-title>Izmeni objekat</h2>
<mat-dialog-content class="mat-typography pb-0">

    <div class="container">
        <p>Naziv:</p>
        <input class="form-control" id="naziv" type="text" placeholder="Naziv"/>
        <p>Pozicija X (u metrima):</p>
        <input class="form-control" id="pozX" type="number" min="0" placeholder="Pozicija X"/>
        <p>Pozicija Y (u metrima):</p>
        <input class="form-control" id="pozY" type="number" min="0" placeholder="Pozicija Y"/>
        <p>Širina (u metrima):</p>
        <input class="form-control" id="sirina" type="number" min="0.5" placeholder="Širina"/>
        <p>Dužina (u metrima):</p>
        <input class="form-control" id="duzina" type="number" min="0.5" placeholder="Dužina"/>
        <div [ngStyle]="{'display': stoObjekat? 'block' : 'none'}">
            <p>Broj mesta:</p>
            <input class="form-control" id="brojMesta" type="number" min="2" placeholder="Broj mesta"/>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end" class="p-4">
    <button mat-raised-button class="mt-2" color="primary" [mat-dialog-close]="obj" (click)="izmeniObjekat()">Izmeni</button>
    <button mat-raised-button class="mt-2" color="warn" [mat-dialog-close]="false">Otkaži</button>
</mat-dialog-actions>
