<!-- Jumbotron sa searchbarom -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="podaci p-2 text-center shadow-1-strong text-white">
          <h1>Pretražite restorane:</h1>
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <h1 class="my-5">O nama:</h1>
  <p>
    Dobrodošli na eRestoran, vašu pouzdanu destinaciju za pronalazak i rezervaciju stola u najboljim restoranima u gradu. Naša stranica je dizajnirana kako biste jednostavno istražili, rezervisali sto i uživali u vrhunskoj gastronomskoj ponudi.
  </p>
  <p>
    Sa eRestoranom, otkrijte širok spektar elegantnih i opuštenih kafića i restorana sa specijalitetima regionalne kuhinje. Mi vam omogućujemo da pronađete savršeno mesto za svaku priliku.
  </p>
  <p>
    Naručivanje i rezervacija stola nikada nije bila jednostavnija. Naš jednostavan i intuitivan korisnički interfejs omogućuje vam brzo pretraživanje i pregled jelovnika, ocena gostiju i dostupnih termina. Samo nekoliko klikova i možete rezervisati svoj sto za obrok sa porodicom, prijateljima ili romantičnu večeru u paru.
  </p>
  <p>
    Sa eRestoranom ćete uštedeti vreme i izbeći neugodnosti čekanja na slobodan sto. Naša platforma osigurava trenutnu rezervaciju tako da ne morate brinuti za mesto. Vaš sto će biti pripremljen za vas kada stignete, tako da možete da se opustite i uživate.
  </p>
  <p>
    Uživajte u praktičnosti koje nudi eRestoran, pridružite nam se danas i otkrijte novi svet ugostiteljske ponude i ukusa. Rezervišite svoj sto i pripremite se za nezaboravno iskustvo.
  </p>
  <hr>
  <app-suggested></app-suggested>
</div>

