mat-toolbar
{
    background-color: #cf720e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    //position: -webkit-fixed; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    height: 64px;
}

.spacer
{
    flex: 1 1 auto;
}

mat-toolbar a{
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: #cf720e;
    box-shadow: 0 0 20px 0 black;
    z-index: 1000;
}

.navbar a {
    color: white;
}
